{{input type='text' class='col-md-6' value=name placeholder='Name of the shop...'}}
<button class='btn btn-success' {{action 'addShop'}}>Add</button>
<button class='btn btn-primary' {{action 'cancel'}}>Cancel</button>
